@charset "UTF-8";

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 6rem;
	align-items: center;
	width: 100vw;
	padding: 4rem;
	background-color: var(--primary-color);
	color: white;
}

footer > a > img {
	width: 45rem;
	transition: all 400ms ease;
}

footer > a > img:hover {
	transform: scale(1.08);
}

footer .grid-container {
	width: 100%;
	height: 25rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

footer .overview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 3rem;
	text-align: center;
	font-weight: 600;
}

footer .overview a {
	color: white;
	font-size: 2rem;
	opacity: 0.8;
	transition: all 400ms;
}

footer .overview a:hover {
	font-weight: 700;
	opacity: 1;
	/* font-size: 1.8rem; */
	transform: scale(1.11);
	border-bottom: 1px solid white;
}

footer .social-links {
	display: flex;
	width: 100%;
	gap: 6rem;
	justify-content: center;
	align-items: center;
}

footer .social-links .social-link img {
	height: 6rem;
	transition: all 400ms ease;
	opacity: 0.8;
}

footer .social-links .social-link img:hover {
	transform: scale(1.2);
	opacity: 1;
}
