@charset "UTF-8";

nav {
	height: 6rem;
	background-color: #192faf;
	padding: 1rem;
}

nav ul {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul li a {
	font-size: 1.6rem;
	font-weight: 500;
	color: #fff;
}
